# Studio: Working with Databases in Python

For today's studio, we will be using the [TV Shows dataset](https://www.kaggle.com/ruchi798/tv-shows-on-netflix-prime-video-hulu-and-disney) from Kaggle. We have already downloaded the CSV for you.

You will also be using the watchlist you just created to figure out which streaming services contain the shows that you want to watch next so you can decide which one is worth the money to you.

As you complete the different tasks in the studio, you may choose between using Pandas or SQL. Remember that during the prep work, we learned that one is oftentimes more efficient at certain tasks than the other, so choose wisely!

## My Watchlist

If you would like, please use this space to make note of your watchlist by editing the text cell.

## Database Setup

To start with, import the necessary libraries and create a dataframe from the provided CSV. Print the info out for the dataframe. After that, you may drop the column called `Unnamed: 0` and rename any columns with spaces in the names or unusual characters such as `"+"`. Print out the info for the dataframe again to ensure that your changes were effective.

In [1]:
import pandas as pd

df = pd.read_csv('tv_shows.csv')

df.info()

df.drop(columns=['Unnamed: 0'], inplace=True)

df.columns = df.columns.str.replace(' ','-')
df.columns = df.columns.str.replace('+', 'plus')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               5368 non-null   int64
 1   Title            5368 non-null   object
 2   Year             5368 non-null   int64
 3   Age              3241 non-null   object
 4   IMDb             4406 non-null   object
 5   Rotten-Tomatoes  5368 non-null   object
 6   Netflix          5368 non-null   int64
 7   Hulu             5368 non-null   int64
 8   Prime-Video      5368 non-null   int64
 9   Disneyplus       5368 non-null   int64
 10  Type             5368 non-null   int64
dtypes: int64(7), object(4)
memory usage: 461.4+ KB

C:\Users\keert\AppData\Local\Temp\ipykernel_17992\3428254552.py:10: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('+', 'plus')

With your dataframe at the ready, create a new database called `tv`. Add a new table to your database called `shows` using the data in the dataframe.

In [3]:
import sqlite3

conn = sqlite3.connect('tv.db')

cursor = conn.cursor()

create_table_query = '''
create table shows (
    ID integer primary key,
    Title text,
    Genre text,
    Release_year int
    Rating float
);
'''

cursor.execute(create_table_query)

conn.commit()

df.to_sql('shows', conn, if_exists='replace', index=False)

conn.close()

With your new table and database set up, print out the top 20 records in the `shows`Â table.

In [4]:
import sqlite3

conn = sqlite3.connect('tv.db')

cursor = conn.cursor()

query = "Select * from shows limit 20;"

cursor.execute(query)

results = cursor.fetchall()
for row in results:
    print(row)

conn.close()

(1, 'Breaking Bad', 2008, '18+', '9.4/10', '100/100', 1, 0, 0, 0, 1)
(2, 'Stranger Things', 2016, '16+', '8.7/10', '96/100', 1, 0, 0, 0, 1)
(3, 'Attack on Titan', 2013, '18+', '9.0/10', '95/100', 1, 1, 0, 0, 1)
(4, 'Better Call Saul', 2015, '18+', '8.8/10', '94/100', 1, 0, 0, 0, 1)
(5, 'Dark', 2017, '16+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(6, 'Avatar: The Last Airbender', 2005, '7+', '9.3/10', '93/100', 1, 0, 1, 0, 1)
(7, 'Peaky Blinders', 2013, '18+', '8.8/10', '93/100', 1, 0, 0, 0, 1)
(8, 'The Walking Dead', 2010, '18+', '8.2/10', '93/100', 1, 0, 0, 0, 1)
(9, 'Black Mirror', 2011, '18+', '8.8/10', '92/100', 1, 0, 0, 0, 1)
(10, "The Queen's Gambit", 2020, '18+', '8.6/10', '92/100', 1, 0, 0, 0, 1)
(11, 'Mindhunter', 2017, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(12, 'Community', 2009, '7+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(13, 'Narcos', 2015, '18+', '8.8/10', '90/100', 1, 0, 0, 0, 1)
(14, 'Shameless', 2011, '18+', '8.5/10', '90/100', 1, 1, 1, 0, 1)
(15, 'Money Heist', 2017, '18+', '8.3/10', '90/100', 1, 0, 0, 0, 1)
(16, "Marvel's Daredevil", 2015, '18+', '8.6/10', '90/100', 1, 0, 0, 0, 1)
(17, 'Lucifer', 2016, '16+', '8.1/10', '90/100', 1, 0, 0, 0, 1)
(18, 'Supernatural', 2005, '16+', '8.4/10', '89/100', 1, 0, 0, 0, 1)
(19, 'The Witcher', 2019, '18+', '8.2/10', '89/100', 1, 0, 0, 0, 1)
(20, 'Ozark', 2017, '18+', '8.4/10', '89/100', 1, 0, 0, 0, 1)

Now add a table that includes an id number and the titles on your watchlist.

In [5]:
import sqlite3

conn = sqlite3.connect('tv.db')

cursor = conn.cursor()

create_watchlist_table_query = '''
create table watchlist (
    Id integer primary key,
    Title text
);
'''

cursor.execute(create_watchlist_table_query)

watchlist_titles = [
    "Ragnarok",
    "Navarasa",
    "Rotten"
]

for title in watchlist_titles:
    insert_query = "Insert into watchlist (title) values (?);"
    cursor.execute(insert_query, (title,))

conn.commit()

conn.close()

## Working with the Data

Using either Pandas or SQL, determine how many shows are on each streaming service and what the mean is for each streaming service. 

**Note**: You may notice that the mean represents the percentage of shows in the dataframe that are on each streaming service. Take a moment to think about why that is.

In [12]:
service_counts = df['Title'].value_counts()

total_shows = len(df)
service_means = (service_counts / total_shows) * 100

print("No.of shows on each streaming service:")
print(service_counts)
print("\n Mean percentage of shows:")
print(service_means)

No.of shows on each streaming service:
Breaking Bad                             1
Fresh Meat                               1
Doctor Thorne                            1
Hustle                                   1
NOVA                                     1
                                        ..
Masha's Spooky Stories                   1
Trotro                                   1
Styling Hollywood                        1
Vai Anitta                               1
Fearless Adventures with Jack Randall    1
Name: Title, Length: 5368, dtype: int64

 Mean percentage of shows:
Breaking Bad                             0.018629
Fresh Meat                               0.018629
Doctor Thorne                            0.018629
Hustle                                   0.018629
NOVA                                     0.018629
                                           ...
Masha's Spooky Stories                   0.018629
Trotro                                   0.018629
Styling Hollywood                        0.018629
Vai Anitta                               0.018629
Fearless Adventures with Jack Randall    0.018629
Name: Title, Length: 5368, dtype: float64

Join your watchlist data with the shows data to determine which streaming services your watchlist shows are on and make a new table in your database using the joined data. Print out the data in your joined table to see what shows on your watchlist on in the original dataset. With the joined data, determine the percentage of your watchlist shows that are on each streaming service and how many of your watchlist shows are on each streaming service.

In [10]:
import sqlite3

conn = sqlite3.connect('tv.db')

cursor = conn.cursor()

create_joined_table_query = '''
create table watchlist_joined as
select watchlist.title as watclist_title, shows.*
from watchlist
left join shows on watchlist.title = shows.title;
'''

cursor.execute(create_joined_table_query)

conn.commit()

query_watchlist_data = "select * from watchlist_joined;"
cursor.execute(query_watchlist_data)

watchlist_data = cursor.fetchall()
for row in watchlist_data:
    print(row)

conn.close()

('Ragnarok', 191, 'Ragnarok', 2020, '18+', '7.5/10', '74/100', 1, 0, 1, 0, 1)
('Navarasa', None, None, None, None, None, None, None, None, None, None, None)
('Rotten', 521, 'Rotten', 2018, '18+', '7.2/10', '63/100', 1, 0, 0, 0, 1)

## Results

Now that you have done your analysis, make note of the answers to the following questions by editing the text cell:

1. Was every show on your watchlist in the Kaggle dataset? Do you have any ideas as to why a show might not have been present? As some shows might be exclusive to certain streaming servicesthat are not covered in kaggle datset
2. Did you include a show or shows in your watchlist that is exclusive to one of the platforms? How might that have impacted your analysis? Yes, I included a show in my watchlist that are exclusive to one of the platforms. The presence of the showsin my watchlist can be specific to calculation of shows on the each streaming service.
3. Which streaming service(s) offered the most shows on your watchlist? Which streaming service(s) offered the least? Rangarok = Netflix
4. Based on the shows you want to watch and the results of your analysis, is there a streaming service you think would be a good fit for you? Netflix